doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Página Principal 
  body 
    h1 Página Principal
    p 
      strong Id: 
      | #{contato.id}
    p
      strong Nome: 
      | #{contato.nome}
    p
      strong Telefone: 
      | #{contato.telefone}
    p
      strong Email 
      | #{contato.email}